<%inherit file="/base.html"/>

<%block name="content">
    <div>
        <div class="left-panel">
            <button onclick="getData(5,'baseLog')" type="button" class="btn btn-info">操作执行</button>
        </div>
        <div class="right-panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">任务名称</th>
                        <th scope="col">所属操作</th>
                        <th scope="col">执行用户</th>
                        <th scope="col">执行方式</th>
                        <th scope="col">开始时间</th>
                        <th scope="col">结束时间</th>
                    </tr>
                </thead>
                <tbody id="excute-log">
                    
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="left-panel">
        </div>
        <div class="right-panel">
            <p>执行日志</p>
            <div id="log-detail"></div>
        </div>
    </div>
    <div>
        <div class="left-panel">
            <button onclick="getAllUser()" type="button" class="btn btn-info">获取所有用户列表</button>
        </div>
        <div class="right-panel">
            <div id="user-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">用户名</th>
                            <th scope="col">用户QQ</th>
                            <th scope="col">语言</th>
                            <th scope="col">手机号</th>
                            <th scope="col">邮箱</th>
                            <th scope="col">企业号用户USERID/公众号用户OPENID</th>
                            <th scope="col">中文名</th>
                            <th scope="col">时区</th>
                        </tr>
                    </thead>
                    <tbody id="user-list-detail">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="left-panel">
            <button onclick="saveAllUser()" type="button" class="btn btn-info">同步蓝鲸用户</button>
        </div>
        <div class="right-panel"></div>
    </div>
</%block>