<%inherit file="/base.html"/>

<%block name="content">
    <div>
        <div class="left-panel">
            <button onclick="getData('0','asset')" type="button" class="btn btn-info">监控告警列</button>
        </div>
        <div class="right-panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">实例名称</th>
                        <th scope="col">变更状态</th>
                        <th scope="col">主机名</th>
                        <th scope="col">IP</th>
                        <th scope="col">VIP</th>
                        <th scope="col">管理IP</th>
                        <th scope="col">服务器类型</th>
                        <th scope="col">操作系统版本</th>
                        <th scope="col">操作系统类型</th>
                        <th scope="col">使用状态</th>
                        <th scope="col">安装于x86服务器的序列号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="left-panel">
            <button onclick="getData()" type="button" class="btn btn-info">监控性能</button>
        </div>
        <div class="right-panel">
            
        </div>
    </div>
</%block>