<%inherit file="/base.html"/>

<%block name="content">
    <div>
        <div class="left-panel">
            <button onclick="getData(3,'alarm')" type="button" class="btn btn-info">监控告警</button>
        </div>
        <div class="right-panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">状态</th>
                        <th scope="col">资源名称</th>
                        <th scope="col">等级</th>
                        <th scope="col">告警信息</th>
                        <th scope="col">最后告警时间</th>
                        <th scope="col">告警对象所属的业务系统</th>
                        <th scope="col">持续时间</th>
                        <th scope="col">通知状态</th>
                        <th scope="col">告警ID</th>
                        <th scope="col">资源组</th>
                        <th scope="col">指标名称</th>
                    </tr>
                </thead>
                <tbody id='alarm-table'>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="left-panel">
            <button onclick="getData(4,'performance')" type="button" class="btn btn-info">监控性能</button>
        </div>
        <div class="right-panel">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">监控项</th>
                            <th scope="col">最新数据</th>
                            <th scope="col">最后检查时间</th>
                            <th scope="col">采集频率</th>
                        </tr>
                    </thead>
                    <tbody id='alarm-monitor-table'>
                    </tbody>
                </table>
        </div>
    </div>
</%block>