<%inherit file="/base.html"/>

<%block name="content">
    <div class="home-page">
    	<div class="page-arrow">
			<div class="container">
                <div id="app">
                    <div class="left-panel">
                        <button onclick="getCMDB()" type="button" class="btn btn-default">Ajax</button>
                        <span>左侧数据</span>
                    </div>
                    <div class="right-panel">
                        <span>右侧数据</span>
                    </div>
                </div>
			</div>
		</div>
    </div>
</%block>
<%block name='footerline'>
    <hr class="guide-cutting-line">
</%block>


