<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>演示</title>
    <style>
        html,body,#app {
            height: 100%;
            margin: 0;
        }
        .left-panel {
            height: inherit;
            float: left;
            width: 300px;
        }
        .right-panel {
            height: inherit;
            margin-left: 300px;
            background-color:green;
        }
    </style>
  </head>
  <body>
    <div id="app">
        <div class="left-panel">
            <button onclick="getCMDB()" type="button" class="btn btn-default">Ajax</button>
            <span>左侧数据</span>
            <a href='www.baidu.com'>访问百度</a>
        </div>
        <div class="right-panel">
            <span>右侧数据</span>
        </div>
    </div>
  </body>
   <script>
        function getCMDB() {
            const myRequest = new XMLHttpRequest();
            myRequest.open("get",'http://paas.bk.com:80/api/c/self-service-api/snc/cmdb/?bk_app_secret=39cdcc5b-faf7-47d5-a264-aba5fdedf208&bk_app_code=wuzhiwei-test01&bk_token=VsMNrjr-NxIdias5_5sRDk_i9sokEwXLYEYyHyyQDF0',true);
            myRequest.send();
        }
    </script>
  
</html>
