<%inherit file="/base.html"/>

<%block name="content">
    <div>
        <div class="left-panel">
            <button onclick="getData(0,'asset')" type="button" class="btn btn-info">获取CMDB资产数据</button>
        </div>
        <div class="right-panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">实例名称</th>
                        <th scope="col">变更状态</th>
                        <th scope="col">主机名</th>
                        <th scope="col">IP</th>
                        <th scope="col">VIP</th>
                        <th scope="col">管理IP</th>
                        <th scope="col">服务器类型</th>
                        <th scope="col">操作系统版本</th>
                        <th scope="col">操作系统类型</th>
                        <th scope="col">使用状态</th>
                        <th scope="col">安装于x86服务器的序列号</th>
                    </tr>
                </thead>
                <tbody id='cmdb-table'>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="left-panel">
            <button onclick="getData(2,'updateAsset')" type="button" class="btn btn-info">更新CMDB资产数据</button>
        </div>
        <div class="right-panel">
            <div class="row">
                <div>以下都必填项</div>
                <div class="col-lg-6">
                    主机名<input id='hostName' type="text" class="form-control" placeholder="主机名" aria-describedby="sizing-addon3">
                    <label for="os-select">操作系统类型：</label>
                    <select id='os-select' name="select">
                        <option value="Linux">Linux</option> 
                        <option value="AIX" >AIX</option>
                        <option value="selected">Windows</option>
                        <option value="Solarix">Solarix</option>
                        <option value="HP-UX">HP-UX</option>
                      </select>
                </div>
            </div>
        </div>
    </div>
</%block>